version: 1
default_environment: prod
project_id: 7a30229a-4a52-4915-8d84-a434da1d597a
prod:

  settings:
    run_coordinator: single
    timezone: 'UTC'
    backend:
      variant: sqlite

  connections:
    source_pfmegrnargs:
      variant: postgresql
      host: hh-pgsql-public.ebi.ac.uk
      port: 5432
      database: pfmegrnargs
      schema: rnacen
      user: reader
      password: NWDMCE5xdipIjRrp
    destination:
      variant: mysql
      host: db
      port: 3306
      database: db
      user: user 
      password: password

  extractors:
    extract_pfmegrnargs_data:
      description: null
      config:
        connection_ref: source_pfmegrnargs
        tables:
          - iterate_column_type: int
            name: rnc_database
            partitions_column: id
            replication_method: incremental
            target_name: raw_rnc_database2

          # - iterate_column_type: int
          #   name: litscan_sentence_id_counts
          #   partitions_column: sent_ids
          #   replication_method: incremental
          #   target_name: raw_litscan_sentence_id_counts
    extract_mysql:
      description: null
      config:
        connection_ref: destination
        tables:
          - name: tab
            target_name: raw_tab

  loaders:
    load_to_stage:
      config:
        connection_ref: destination

  jobs:
    - name: pfmegrnargs 
      extract_task: extract_pfmegrnargs_data
      load_task: load_to_stage
      priority: 1 # 1-200 -> 200 is higest 1 is lowest