version: 1
default_environment: prod
project_id: 7a30229a-4a52-4915-8d84-a434da1d597a
prod:

  settings:
    run_coordinator: celery # single or celery
    timezone: 'UTC'
    broker:
      broker_type: rabbitmq
      user: guest 
      password: guest
      host: rabbitmq
      port: 5672
    backend:
      variant: postgresql
      host: db 
      port: 5432
      database: postgres
      schema: public
      user: postgres
      password: postgres

  connections:
    destination_dwh_postgres:
      variant: postgresql
      host: db
      port: 5432
      database: postgres
      schema: public
      user: postgres
      password: postgres
    source_pfmegrnargs_postgresql:
      variant: postgresql
      host: hh-pgsql-public.ebi.ac.uk
      port: 5432
      database: pfmegrnargs
      schema: rnacen
      user: reader
      password: NWDMCE5xdipIjRrp
    # source_mysql:
    #   host: mysql 
    #   port: 3306 
    #   database: db
    #   user: user 
    #   password: password

  extractors:
    extract_pfmegrnargs_data:
      description: null
      config:
        connection_ref: source_pfmegrnargs_postgresql
        tables:
          - iterate_column_type: int
            name: rnc_database
            partitions_column: id
            replication_method: incremental
            target_name: raw_rnc_database

    # extract_from_mysql:
    #   description: null
    #   config:
    #     connection_ref: source_mysql
    #     tables:
    #       - iterate_column_type: int
    #         name: raw_rnc_database
    #         partitions_column: id
    #         replication_method: incremental
    #         target_name: rnc_database

  loaders:
    load_to_stage:
      config:
        connection_ref: destination_dwh_postgres
    # load_to_mysql:
    #   config:
    #     connection_ref: source_mysql 

  jobs:
    - name: pfmegrnargs 
      extract_task: extract_pfmegrnargs_data
      load_task: load_to_stage
      priority: 1

    # - name: mysql 
    #   extract_task: extract_pfmegrnargs_data
    #   load_task: load_to_mysql
    #   priority: 1
    # - name: from_mysql 
    #   extract_task: extract_from_mysql
    #   load_task: load_to_stage